/*---------------------------------------------------------------------*/
/*  Form module SASS file
/*  Guidelines: https://smacss.com/book/type-module
/*---------------------------------------------------------------------*/



.invoice-edit-screen,
.invoice-add-screen {

  label {
    display: block;
    padding: 3px 5px;
    margin-bottom: 5px;
  }

  .btn-row{
    margin-top: $standard-text-margin;
  }

  .invoice-description {
   	min-width: 400px;
  }
  
}

