<section id="error" class="page-content">
  <div class="error-notice">
    <p class="error-message">{{message}}</p>
  </div>
   <div class="btn-row">
    <button type="button" class="back-home btn">Back to invoices</button>
  </div>
</section>
