<section class="invoices page-content">

  <section class="invoices-control screen-full">

    <div class="screen-left">
      <button type="button" class="invoice-create btn">Add a new invoice</button>
    </div>

    <div class="screen-right">
      <form>
        <label for="invoice-filter">Show:</label>
        <select name="invoice-filter" class="invoice-filter">
          <option value="all">All</option>
          <option value="paid">Paid</option>
          <option value="unpaid">Unpaid</option>
        </select>
      </form>
    </div>

  </section>

  <section class="invoices-display screen-full">

  </section>

</section>
