<table class="invoices-table">
  <thead class="invoices-table-head">
    <tr>
      <th></th>
      <th>Date</th>
      <th>Description</th>
      <th>Unpaid Amounts</th>
      <th>Paid Amounts</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="invoices-table-body">
  </tbody>
</table>
